<!-- homepage -->
<div *ngFor="let offer of catalog" class="container">
    <div class="profile"><img src="./profile.png" alt="default user">
        <h3>Offer Info:</h3>
        <div class="flex">
            <p>Names: </p>
            <p>{{offer.model}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{offer.make}}</p>
        </div>
        <div class="flex">
            <p>Phone: </p>
            <p>{{offer.year}}</p>
        </div>
        <button class="edit-button">Edit</button>
    </div>
</div>