<ng-container *ngIf="editable">

    <div class="container">
        <form [formGroup]="myForm">
            <div class="profile">
                <img src="./profile.png" alt="default user">
                <h3>User Info:</h3>

                <div class="flex">
                    <p>Name: </p>
                    <input type="text" formControlName="name" name="name" id="name" [value]="catalog">
                </div>
                <div class="flex">
                    <p>Email: </p>
                    <input type="text" formControlName="email" name="email" id="email" [value]="">
                </div>
                <div class="flex">
                    <p>Year: </p>
                    <div>



                        <input type="text" formControlName="year" name="year" id="year" [value]="">
                    </div>
                </div>
                <!-- <button class="red-button" (click)="cancel($event)">Cancel</button>
                <button class="green-button" (click)="save()">Save</button> -->

            </div>
        </form>
    </div>
</ng-container>