<!-- homepage-->
<section class="container">

    <ng-container *ngFor="let offer of catalog">
        <article class="article-offer">
            <img src={{offer.img}} class="img" alt="default user">
            <h3 class="offer-info">Offer Info:</h3>
            <div class="flex">
                <p>Names: {{offer.names}}</p>
            </div>
            <div class="flex">
                <p>Email: {{offer.email}}</p>
            </div>

            <div class="flex">
                <p>Hand: {{offer.hand}}</p>
            </div>

            <div class="flex">
                <p>Weight: {{offer.weight }}</p>
            </div>
            <div class="flex">
                <p>City: {{offer.place }}</p>
            </div>
            <div class="flex">
                <p>Bet: {{offer.bet }}</p>
            </div>
            <ng-container *ngIf="email === offer.email">
                <button class="edit-button" (click)="edit(offer._id)">Edit</button>
                <button class="edit-button" (click)="delete(offer._id)">Delete</button>
            </ng-container>

        </article>
    </ng-container>

</section>