<!-- homepage-->
<section class="container">

    <ng-container *ngFor="let offer of catalog">
        <article class="article-offer">
            <img src={{offer.img}} class="img" alt="default user">
            <h3 class="offer-info">Offer Info:</h3>
            <div class="flex">
                <p>Names: {{offer.names}}</p>
            </div>
            <div class="flex">
                <p>Phone: {{offer.phone}}</p>
            </div>

            <div class="flex">
                <p>Hand: {{offer.hand}}</p>
            </div>

            <div class="flex">
                <p>Weight: {{offer.weight }}</p>
            </div>
            <div class="flex">
                <p>City: {{offer.city }}</p>
            </div>
            <div class="flex">
                <p>Bet: {{offer.bet }}</p>
            </div>
            <button (click)="edit(offer._id)" class="edit-button">Edit</button>
        </article>
    </ng-container>

</section>