<div class="navConteiner">
    <div class="logo-div">
        <img src="assets/Capture.png" class="navbar-logo" alt="My App Logo" />


    </div>
    <div class="navbar-links">

        <div appNavbarComponent>

            <a routerLink='home'>Home</a>
            <a routerLink="offers">Offers</a>

            <a *ngIf="isLoggedIn" routerLink='create-offer'>Create Offer</a>
            <a *ngIf="!isLoggedIn" routerLink="login">Login</a>
            <a *ngIf="isLoggedIn" routerLink='logout' (click)="logout()">Logout</a>


            <a *ngIf="!isLoggedIn" routerLink="register">Register</a>




        </div>


    </div>
    <div class="navbar-actions">
        <!-- Add login/logout buttons or user-related actions here -->
    </div>
</div>