.navConteiner {
    /* position: absolute; */
    /* overflow: none; */
    z-index: 10;
    width: 100%;
}




.navbar-logo {
    height: 100px;
    width: 100px;
    float: flex;
    margin: 1em auto;
    padding: 40px;
    display: block;




}

.logo-div {
    background-color: #32d6c8;
}

.navbar-links {
    flex-flow: column wrap;

    padding: 0;

    background-color: #32d6c8;
    float: flex;


}

.navAncors {
    margin-left: 34%;
    padding-bottom: 25px;
    display: inline-block;

}

.navAncors2 {
    margin-left: 40%;
    padding-bottom: 25px;
    display: inline-block;
}

.navbar-links a {
    font-weight: 600;
    padding: 20px;

    font-size: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    flex-flow: column wrap;
}

.navbar-links a:hover {


    font-size: 170%;
    cursor: pointer;
}