.navConteiner {
    /* position: absolute; */
    /* overflow: none; */
    z-index: 10;
    width: 100%;
}




.navbar-logo {
    height: 100px;
    width: 100px;
    float: flex;
    padding: 20px;
    margin: 0;
    margin-left: 45%;
    margin-right: auto;
    margin-bottom: -5px;
    padding: 40px;




}

.logo-div {
    background-color: #32d6c8;
}

.navbar-links {
    flex-flow: column wrap;

    padding: 0;

    background-color: #32d6c8;
    float: flex;


}

.navAncors {
    margin-left: 30%;
    padding-bottom: 25px;
    display: inline-block;

}

.navbar-links a {
    font-weight: 600;
    padding: 20px;

    font-size: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

    flex-flow: column wrap;
}

.navbar-links a:hover {


    font-size: 170%;
    cursor: pointer;
}