<div class="navbar-links">
    <img src="assets/Capture.png" class="navbar-logo" alt="My App Logo" />
    <div class="navAncors">
        <a (click)="navicationTo('home')">Home</a>
        <a (click)="navicationTo('register')">Register</a>
        <a (click)="navicationTo('offers')">Offers</a>
        <a (click)="navicationTo('login')">Login</a>
        <a (click)="navicationTo('logout')">Logout</a>
        <a (click)="navicationTo('create-offer')">Create Offer</a>
    </div>


</div>
<div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
</div>