/* welcome component */

.welcome {
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
}

.welcome .video {
    width: 70%;
    height: auto;
    min-height: 10em;
}

.welcome h3 {
    background-color: #32d6c8;
    border-radius: 0.3em;
    padding: 1em;
    font-size: 2em;
    margin: 1em 1em;

    text-align: center;

}

.welcome p {
    padding: 1em;
    border-bottom: 1px solid #999;
    font-style: normal;
    font-size: 1em;
}



.welcome a:hover {
    cursor: pointer;
}

.welcome ul li {
    display: flex;

    padding: 0;
    margin-bottom: 1em;
    text-align: center;

    font-size: 1.5em;
    text-align: left;

}

.welcome ul {
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.815);

    width: 40%;
    /* text-align: center; */
    text-justify: auto;
    margin-left: 25%;

}

/* .welcome li {
    list-style: none;
} */

.header {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    background-position: center;



}

h1 {
    text-align: center;
    font-size: 2em;
    padding: 1em;
    background-color: #32d6c8;
    border-radius: 0.3em;
    margin: 0 1em;
    margin-top: 2em;

}

.servises .register {
    width: max-content;

}

.buttons {
    width: 5em;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #4ebced;
    border: solid 1px;
    border-radius: 0.3em;
    padding: 1.5em;
    margin: 1em;

}

.header-container {
    /* background-color: white; */
    padding: 50px;
}

.container {
    width: 100%;
}

.logged ul {
    display: flex;
}

.logged ul li {
    display: block;
    margin: auto;
}

.logged ul li p {

    border: none;

}

.comments {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5em;
    max-width: 50%;
    margin: 2em auto;
    padding: 1.5%;
    background-color: rgba(255, 255, 255, 0.815);

}

.comments p {
    display: block;
    margin: auto;
    color: black;
    font-size: 2em;
    border: none;

}


div p.line {

    border-bottom: rgba(0, 0, 0, 0.438) dotted 2px;
}

div p span {

    color: rgb(2, 151, 57);
    font-size: 1.4em;

}

div p.line span {

    color: rgb(199, 26, 26);
    font-size: 1.4em;

}