<!-- homepage -->
<div class="container">
    <div class="welcome">
        <h1>Welcome to the Armwrestling challenge page!</h1>
        <div class="header-container">
            <div class="header">
                <iframe width="70%" height="600px" src="https://www.youtube.com/embed/WxSD846U4BI?si=9RY7skkCKTvAiN0J"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>
        </div>
        <h3 class="servises">Servises and options: </h3>
        <ul>


            <li> You can state your rules and name the price.
            </li>
            <li> Agree to and offer and compete in your chosen class.
            </li>
            <li> Request a licensed referee or one from the voluntary ones.
            </li>
            <li> Have regeonal rankings that get updated every day, based on the matches and rule set.
            </li>
            <li> Organize a tournament or a few super maches with our help.
            </li>


        </ul>
        <h3>Register or login to post an offer and review the offers.</h3>
        <div class="logged">
            <ul>
                <li>
                    <a class="buttons" routerLink="/login">

                        Login
                    </a>
                </li>
                <li>
                    <a class="buttons" routerLink="/register">

                        Register
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>