<!-- homepage -->
<div class="container">
    <form class="login" #form="ngForm" (ngSubmit)="login(form)">

        <fieldset>
            <h2>Login Form</h2>

            <p class="emailPassword">

                <input #inputEmail="ngModel" ngModel required class="emailInput" type="email" name="email" id="email"
                    placeholder="simeon.bogdanov@gmail.com">
            </p>
            <ng-container *ngIf="inputEmail.touched">
                <p class="errorRequired" *ngIf="inputEmail.errors?.['required']">
                    Email is required!
                </p>
                <!-- <p class="errorInvalid">
                Email is not valid!
            </p> -->
            </ng-container>
            <p class="emailPassword">

                <input #password="ngModel" class="passwordInput" ngModel type="password" name="password" id="password"
                    placeholder="password">
            </p>
            <!-- <p class="error">
                Password is required!
            </p>
            <p class="error">
                Password must be at least 4 characters!
            </p> -->

            <button (mousedown)="loginButton()" *ngIf="loginButton()" class="login button">Login</button>



            <button (click)="loginButton()" *ngIf="loginButton()" class="login ">Login</button>


            <p class="text-center">
                Have an account?
                <a href="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>