<!-- homepage -->
<div class="container">
    <form class="login" #form="ngForm" (ngSubmit)="login(form)">

        <fieldset>
            <h2>Login Form</h2>

            <p class="emailPassword">

                <input #inputEmail="ngModel" ngModel required class="emailInput" type="email" name="email" id="email"
                    placeholder="simeon.bogdanov@gmail.com" [appValidators]="['bg', 'com']">
            </p>
            <ng-container *ngIf="inputEmail.touched">
                <p class="errorRequired" #inputEmail="ngModel" ngModel *ngIf="inputEmail.errors?.['required'] ">
                    Email is required!
                </p>
                <p *ngIf="inputEmail?.errors?.['validateEmail']" class="error">
                    Email is not valid!
                </p>
            </ng-container>


            <p class="emailPassword">

                <input #password class="passwordInput" ngModel type="password" name="password" id="password"
                    placeholder="password" required minlength="4">
            </p>



            <ng-container *ngIf="password.touched">
                <p class="error" *ngIf="password.errors?.['required']">
                    Password is required!
                </p>
                <p class="error" *ngIf="password.errors?.['minlength']">
                    Password must be at least 4 characters!
                </p>
            </ng-container>


            <button class="login button">Login</button>






            <p class="text-center">
                Have an account?
                <a href="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>